<p>
	Commenter:
	<%= comment.commenter %>
</p>
<h2>
	Comment:
	<%= comment.body %>
</h2>

<p>
  <%= link_to "Destroy Comment", [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    }
  %>
</p>